.cards {
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__footer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 21px 31px 15px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.card__button-like {
  background-color: transparent;
  border: none;
}

.card__button-like:hover {
  opacity: 50%;
  cursor: pointer;
}
